
.form-builder-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tool-box-container {
  width: 40vw;
  height: 100vh;
  border: 1px solid black;
  border-radius: 5px;
}

.form-container {
  width: 40vw;
  height: 100vh;  
  border: 1px solid black;
  border-radius: 5px;  
}

.element-selection-header {
  text-align: center;
  margin: 20px;
}
