
.element-selection-container {
  display: flex;
  justify-content: center;
}

.form-selection-btn {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.form-selection-btn:focus {
  outline: none;
}

.label-input {
  margin: 10px;
}
